﻿@BackColor1: rgba(61,2,82,1);
@BackColor2: #441144;


//App Layout
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

    font-size: 1em;
    overflow: hidden;
}

#Content {
    margin: 0 auto;
    width: 960px;
    height: calc(100vh -6em);
    position: relative;
}

#MachineTop {
    border: 5px solid #222;
    border-bottom: 0;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background: linear-gradient(90deg, #000 0%, #222 15%, #333 50%, #222 85%, #000 100%);

    height: 5em;
    width: 100%;

    margin-top: 6em;
}

#MachineMain {
    border: 5px solid #222;
    border-top: 0;
    border-bottom-left-radius: 3vw;
    border-bottom-right-radius: 3vw;
    background: linear-gradient(90deg, #000 0%, #222 15%, #333 50%, #222 85%, #000 100%);
    
    height: calc(90% - 4em);
    width: 100%;

    position: relative;
}

#ViewPort {
    height: calc(60% - 1.2em);
    width: calc(80% - 1.2em);
    overflow: auto;

    margin: 0 auto;
    padding: 1.2em;

    background: #111;
    border: 5px solid #222;
}

#Outlet {
    height: 30%;
    width: 30%;
    margin: 1em auto;

    background: linear-gradient(90deg, #222 0%, #111 30%, #111 70%, #222 100%);
    border: 5px solid #222;
}

/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    width: 25px;
    background: #222;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #444;
}

//Theme
body {
    background-color: @BackColor1;
    background-image: linear-gradient(0deg, rgba(28,13,33,1) 0%, rgba(61,2,82,1) 14%, rgba(0,0,0,0.7) 14%, rgba(34,34,34,0) 18%, rgba(34,34,34,0) 92%, rgba(34,34,34,0.7) 100%),
                      radial-gradient(@BackColor2 9px, transparent 10px),
                      repeating-radial-gradient(@BackColor2 0, @BackColor2 4px, transparent 5px, transparent 20px, @BackColor2 21px, @BackColor2 25px, transparent 26px, transparent 50px),
                      linear-gradient(0deg, rgba(32,8,40,1) 16%, rgba(49,0,66,1) 100%);
    background-size: cover,
                     30px 30px,
                     90px 90px,
                     cover;
    background-position: 0 0;

    font-family: 'Open Sans', sans-serif;
    color: lime;
}

#HomeView {
    text-align: center;
}


//Header Neon
h1 {
    font-family: 'Pacifico', cursive;
    font-size: 4em;
    font-weight: normal;
    text-align: center;

    position: relative;
    margin-top: -1em;

    color: lightyellow;
    animation: NeonGlow 1.5s ease-in-out infinite alternate;
}

h2 {

}

h3 {
    margin-top: 0;
}

@keyframes NeonGlow {
    from {
        text-shadow: 0 0 3px #fff, 0 0 7px #fff, 0 0 10px #fff, 0 0 16px #FFDD1B, 0 0 24px #FFDD1B, 0 0 34px #FFDD1B, 0 0 43px #FFDD1B, 0 0 60px #FFDD1B;
    }

    to {
        text-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 7px #fff, 0 0 10px #FFDD1B, 0 0 19px #FFDD1B, 0 0 28px #FFDD1B, 0 0 37px #FFDD1B, 0 0 50px #FFDD1B;
    }
}


.Hidden {
    display: none;
}

.Button {
    display:inline-block;
    background-color: #121;
    color: lime;
    text-decoration: none;

    padding: 10px 15px;
    margin: 0.7em;

    border: 2px solid green;
    border-radius: 0.5em;
}

.Button:hover {
    color: white;
    background-color: #232;
    border-color: lime;
}

.Button:active {
    background-color: palegreen;
    color: green;
 }

.Item {
    height: 6em;
    width: 8em;
}

@media only screen and (max-width: 1000px)
{
    body {
        font-size: 4vw;
    }

    h1 {
        font-size: 8vw;
    }

    #MachineTop {
        height: 2.5em;
        margin-top: 3em;
    }

    #Content {
        width: 90%;
    }

    #Outlet {
        width: 60%;
    }
}